<div class="row">
    <div class="col-lg-6">
        <h2>User Group Id :-  {{userGroupId}}</h2>
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="selectrole">Select Role</label>
                    <!-- <input type="text" class="form-control" id="name" placeholder="Ex. Admin" > -->
                    <select class="form-control" [formControl]="selectedRole">
                        <option value="0">Select Role</option>
                        <option *ngFor="let v of rolelist" [value]="v.id">{{v.text}}</option>
                    </select>
                </div>                    
                <div class="col-md-6">
                    <label>&nbsp;</label>
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary" (click)="show()">Add</button>
                        <button type="button" class="btn btn-secondary ml-2" (click)="onSubmit()">Save</button>
                    </div>                                                
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="col-lg-12">
            <div class="mt-5 mt-lg-0">
                <h5 class="font-14">Included Roles</h5>        
        
                <div class="table-responsive">
                    <table class="table table-striped m-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Name</th>                        
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of roles;let i = index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{role.roleName}}</td>                        
                                <td>                                    
                                    <button type="button" class="btn btn-danger ml-2" (click)="removeRole(role.roleID)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>

